.container {
  /* margin: 0 auto; */
  background-color: #8fc1ee;
  box-shadow: 0px 0px 5px 5px #df8f8f;
  border-radius: 20px;
  padding: 10px 100px ;
  

}
h3{
  color: brown;
}
p{
  margin-right: 300px;
}
img{
  border-radius: 50px;
}